{% extends "app.html" %}
{% block content %}

<div class="py-5 text-center">
    <h1>TLS/SSL Test Portal</h1>
</div>

{% for message in get_flashed_messages() %}
<div class="alert bg-danger">{{ message }}</div>
{% endfor %}

<form method="POST" onsubmit="$('#spinner').show(); $('#button-label').hide(); $('#submit').prop('disabled', true);">
    <div class="row">
        <div class="mb-3 col-lg-6 col-sm-12">
            <label for="host">Host</label>
            <div class="input-group mb-3">
                <input type="text" name="host" class="form-control" id="host" placeholder="www.example.org" value=""
                    required="" spellcheck="false" autocorrect="off" autocapitalize="none" autocomplete="off" inputmode="url">
                <span class="input-group-append input-group-prepend input-group-text rounded-0">:</span>
                <input type="number" name="port" class="form-control col-2" id="port" min="0" max="65535" value="443"
                    required="" inputmode="numeric">
            </div>
        </div>

        <div class="mb-3 col-lg-6 col-sm-12">
            <label for="protocol">StartTLS</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" class="checkbox" name="starttls" value="yes" class="form-control"
                            onchange="$('#protocol').prop('disabled', !this.checked);">
                    </div>
                </div>
                <select name="protocol" id="protocol" class="form-control" disabled>
                    <option value="" selected disabled hidden>StartTLS-Protocol</option>
                    <option value="smtp">SMTP</option>
                    <option value="ldap">LDAP</option>
                    <option value="pop3">POP3</option>
                    <option value="imap">IMAP</option>
                    <option value="ftp">FTP</option>
                    <option value="lmtp">LMTP</option>
                    <option value="nntp">NNTP</option>
                    <option value="postgres">PostgreSQL</option>
                    <option value="mysql">MySQL</option>
                    <!-- <option value="telnet">Telnet</option> -->
                    <option value="xmpp">XMPP</option>
                    <option value="xmpp-server">XMPP-Server</option>
                </select>
            </div>
        </div>
    </div>

    <hr class="mb-4">
    <button id="submit" class="btn btn-secondary btn-lg btn-block" type="submit">
        <span class="spinner-border m-n1" id="spinner" role="status" aria-hidden="true" style="display: none;"></span>
        <span id="button-label">Perform SSL Check</span>
    </button>
</form>

{% endblock %}